/Code/SupportMySport_Client/nbproject/private/
/Code/SupportMySport_Client/build
/Code/SupportMySport/nbproject/private/
/Code/SupportMySport/build
.gitignore
/Code/SupportMySport_Client/dist/
/Code/SupportMySport/dist/
/Code/SupportMySportsDummy/nbproject/private/
/Code/SupportMySportInterfaces/nbproject/private/
/Code/SupportMySportInterfaces/dist/
/Code/SupportMySportInterfaces/build/
/Code/SupportMySport_CorbaClient/build/
/Code/SupportMySport_CorbaClient/dist/
/Code/SupportMySportApp/SupportMySportApp-ejb/nbproject/private/
/Code/SupportMySport_ClientApp/nbproject/private/
/Code/SupportMySport_ClientApp/build/
/Code/SupportMySport_ClientApp/dist/
/Code/SupportMySportApp/SupportMySportApp-ejb/build/
/Code/ApplicationClient1/nbproject/private/
/Code/SupportMySportApp/build/
/Code/SupportMySportApp/SupportMySportApp-ejb/dist/
/Code/TEa/nbproject/private/
/Code/TEa/TEa-ejb/nbproject/private/
/Code/SupportMySportAppInterfaces/nbproject/private/
/Code/SupportMySportAppInterfaces/build/
/Code/SupportMySportAppInterfaces/dist/
/Code/SupportMySportClientApp/nbproject/private/
/Code/SupportMySportClientApp/dist/
/Code/SupportMySportClientApp/build/
