/Code/SupportMySport/nbproject/private/
/Code/SupportMySport/build
/Code/HibernateAnnotationsTestingProject/nbproject/private/
Code/SupportMySport/nbproject/build-impl.xml
Code/SupportMySport/nbproject/genfiles.properties
Code/SupportMySport/nbproject/project.properties
Code/SupportMySport/nbproject/project.xml
Code/SupportMySport/nbproject/project.properties
Code/SupportMySport_Client/nbproject/build-impl.xml
Code/SupportMySport_Client/nbproject/genfiles.properties
Code/SupportMySport_Client/nbproject/project.properties
Code/SupportMySport_Client/nbproject/project.xml
.gitignore
